.managers-administration {
    display: flex;
    flex-flow: column nowrap;
    color: #434143;
    font-family: Lato;
    margin: 0 3.5% 0 0;
}

.managers-administration__managers {
    color: #bd1b31;
    margin: 0;
    font-size: 20px;
}

.managers-administration__structure {
    color: #434143;
    margin: 14px 0;
    font-size: 32px;
}

.managers-administration__beta {
    display: flex;
    align-items: center;
    margin: 0 30px 0 0px;
}

.managers-administration__beta-msg {
    margin: 0px;
}

.visually-hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0 !important;
}

.managers-administration__summary-content {
    margin: 6px 20px 10px 30px;
}

.shown {
    visibility: visible;
    width: 100%;
}

.managers-administration__beta-msg a {
    color: #434143;
    text-decoration: underline;
}

.clear-manager {
    position: absolute;
    right: 12px;
    cursor: pointer;
    background: url('../assets/svgs/icon-close-white.svg');
    content: '';
    display: block;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 9px;
}

.managers-administration__beta-label {
    background: #239c8b;
    color: #fff;
    padding: 3px 3px 1px;
    margin: 0 10px 0 0;
}

.managers-administration__description {
    margin: 0 0 35px 0;
}

.managers-administration__description-heading {
    font-size: 20px;
    margin-top: 20px;
}

.managers-administration__description-msg {
    margin: 19px 0;
}

.managers-administration__form-added-manager {
    background: #606060;
    color: #fff;
    padding: 5px 30px 3px 13px;
    border-radius: 16px;
    margin: 10px 6px 8px 10px;
    text-align: center;
    position: relative;
}

.managers-administration__description-more-info {
    font-weight: bold;
    padding: 0 0 0 25px;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.managers-administration__form-icon {
    content: '';
    text-align: center;
    background: url('../assets/svgs/icon-group-structure.svg');
    display: inline-block;
    height: 70px;
    width: 70px;
    background-size: 70px 70px;
    position: relative;
}

.managers-administration__description-more-info a {
    color: #434143;
    margin: 0 0 0 5px;
    text-decoration: underline;
}

.managers-administration__form-heading {
    font-size: 20px;
    margin-top: 10px;
}

.managers-administration__form-icon {
    content: '';
    text-align: center;
    background: url('../assets/svgs/icon-group-structure.svg');
    display: inline-block;
    height: 70px;
    width: 70px;
    background-size: 70px 70px;
    position: relative;
}

.managers-administration__description-more-info:before {
    background: url('../assets/svgs/icon-info.svg');
    content: '';
    display: block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: -2px;
}

.managers-administration__form-container {
    border: 2px dashed #d8d8d8;
    padding: 20px 9% 50px 9%;
    width: auto;
    max-width: 700px;
    text-align: center;
}

.managers-administration__form {
    position: relative;
}

.managers-administration__form .scrollarea {
    cursor: default;
}

.managers-administration__form-container.visually-hidden .managers-administration__form {
    margin-bottom: 30px;
}

.managers-administration__form .scrollarea .scrollarea-content  {
    margin-top: -1px;
    cursor: pointer;
}

.managers-administration__cr-high-level-issue-block {
    background: #ffebeb;
    border: 1px solid rgba(219, 0, 0, 0.25);
    border-left: 5px solid #db0000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    margin: 20px 0;
    font-size: 13px;
}

.horizontal-line {
    border: 1px solid #d8d8d8;
}

.managers-administration__cr-warning-block {
    background: #ffe6bd;
    border: 1px solid rgba(204, 126, 0, 0.25);
    border-left: 5px solid #a86800;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 13px;
}

.managers-administration__cr-high-level-issue-block summary::-webkit-details-marker {
    display: none
  }

.managers-administration__cr-warning-block summary::-webkit-details-marker { /* { optimise this */
    display: none;
  }

.managers-administration__cr-high-level-issue-block summary,
.managers-administration__cr-warning-block summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    outline: none;
}

.managers-administration__summary-label:before {
    content: url('../assets/svgs/icon-warning-red.svg');
    margin: 0 6px;
}

.managers-administration__cr-warning-block .managers-administration__summary-label:before {
    content: url('../assets/svgs/icon-warning-orange.svg');
}

.managers-administration__summary-label {
    font-size: 13px;
    width: 100%;
    display: flex;
    align-items: center;
}

.managers-administration__circular-relationship-hierarchy-title {
    font-size: 15px;
    width: 85%;
}

.managers-administration__cr-warning-block-list {
    list-style-type: none;
    padding: 0
}

.managers-administration__description-link {
    margin: 0 0 0 5px;
    color: #434143;
    font-weight: bold;
}

.managers-administration__form-submit-paragraph {
    font-weight: bold;
    text-align: left;
    padding: 30px 0 0 0px;
    margin: 0 0 10px 0;
}

.managers-administration__form-ul-list {
    list-style-type: none;
    padding: 0 0 80px 0;
    border: 1px solid;
    margin: 1px 0 0 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

.managers-administration__form-ul-list li {
    position: relative;
    z-index: 5;
}

.managers-administration__form-list li:nth-child(1) {
    border-top: 1px solid;
}

.managers-administration__form-preloader {
    position: relative;
}

.managers-administration__form-preloader .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
    background: #FFF;
    margin: 2px;
    z-index: 3;
}

.managers-administration__form-preloader .loading-spinner svg {
    width: 50px;
    height: 50px;
}

.managers-administration__form-preloader .loading-spinner svg circle {
    stroke: #239c8b;
}

.managers-administration__search-suggestions {
    text-align: right;
    color: #949494;
    font-size: 13px;
    display: block;
    width: 100%;
    right: 20px;
    top: 8px;
    position: relative;
}

.managers-administration__form-list {
    list-style-type: none;
    border: 1px solid;
    border-top: none;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    position: relative;
    z-index: 3;
}

.scrollarea {
    height: 363px;
    cursor: pointer;
    border-bottom: 1px solid;
}

.searchList {
    position: absolute;
    width: 100%;
}

.managers-administration__form-list-input {
    border: none;
    margin: 15px 0 0 15px;
    font-family: Lato;
    font-size: 15px;
}

.managers-administration__form-list-input:focus  {
    outline: none;
}

.managers-administration__form-list-item {
    padding: 15px 20px;
    text-align: left;
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
}

.managers-administration__form-first-item {
    background: #fff;
    padding: 3px;
}

.managers-administration__form-list-item:hover {
    background: #f3f3f3;
}
.managers-administration__form-cta {
    margin: 5% 0;
    text-align: left;
    margin: 20px 0 0 0;
}

.managers-administration__form-txt {
    margin: 12px 0;
}

.managers-administration__form-cta button {
    width: 220px;
}

.managers-administration__info-container {
    position: relative;
    background: #F3F3F3;
    padding: 10px 15px;
    margin: 20px 0;
    border: 1px solid #d8d8d8;
    border-left: 5px solid #434143;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.managers-administration__searchList-container {
    position: absolute;
    width: 100%;
    margin: 0 0 50px 0;
}

.managers-administration__info-container-paragraph {
    color: #434143;
    position: relative;
    text-align: left;
    padding: 0 0 0 25px;
    font-size: 13px;
    line-height: 20px;
}

.managers-administration__info-container-paragraph:before {
    background: url('../assets/svgs/icon-info.svg');
    content: '';
    display: block;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -2px;
    top: -4px;
}

.managers-administration__cr-refresh-btn {
    background: #606060;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    height: 40px;
    width: 125px;
    position: relative;
    font-family: Lato;
    font-size: 15px;
}

.managers-administration__cr-refresh-btn:before{
    background: url('../assets/svgs/icon-refresh.svg');
    background-size: 25px 25px;
    content: '';
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 25px;
    left: 10px;
    top: 7px;
}

.managers-administration__cr-refresh-container {
    display: flex;
    margin-bottom: 20px;
}

.managers-administration__cr-refresh-txt {
    color: #606060;
    font-size: 13px;
    margin-left: 10px;
}

.managers-administration__cr-org-lvl {
    display: flex;
    align-items: center;
}

.managers-administration__details-container {
    margin-top: 25px;
}

.managers-administration__cr-org-lvl-number {
    margin-left: 10px;
}

.managers-administration__cr-hierarchy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.managers-administration__cr-hierarchy-edit {
    position: relative;
    cursor: pointer;
    font-size: 13px;
}

.managers-administration__cr-hierarchy-edit:before {
    background: url('../assets/svgs/icon-edit.svg');
    background-size: 20px 20px;
    content: '';
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    left: -23px;
    top: -8px;
}

.managers-administration__cr-hierarchy-people {
    display: flex;
    width: 100%;
}

.managers-administration__noCr-no-issues {
    background: #e6f5e4;
    border: solid 1px rgba(40, 155, 14, 0.25);
    padding: 10px 20px;
    position: relative;
    font-size: 13px;
    border-left: 5px solid #23880c;
}

.managers-administration__noCr-no-issues p {
    padding-left: 25px;
}

.managers-administration__noCr-no-issues p:before {
    background: url('../assets/svgs/icon-success.svg');
    background-size: 20px 20px;
    content: '';
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 20px;
    left: 15px;
    top: 20px;
}

.cancel-cta {
    background: #606060;
    padding: 15px 40px;
    color: #fff;
    border-radius: 2px;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
}

.managers-administration__edit-btns {
    display: flex;
    margin: 20px 0 40px 0;
}

.toggle-section {
    position: absolute;
}

.toggled-horizontal-line {
    border-color: #d8d8d8;
    margin: 50% 0 30px 0;
}

.managers-administration__cr-container {
    max-width: 700px;
    margin: 0 0 100px 0;
}

.managers-administration__cr-container .managers-administration__info-container {
    margin-bottom: 30px;
}

.managers-administration__cr-results {
    margin-top: 0;
}

.managers-administration-hiererachy-toggle {
    cursor: pointer;
    position: absolute;
    top: 25px;
    text-decoration: underline;
    right: 15px;
}

.managers-administration-saved-manager {
    margin-left: 10px;
}

.managers-administration__edit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}